.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.background-override {
  height: 100vh;
  background-color: #fafafa;
  color: black;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-icon {
  margin-right: 10px;
}

mat-toolbar {
  height: min(30vh, 35px);
}

small {
  padding-left: 4px;
}

.dev {
  color: red;
}

.beta {
  color: lightblue;
}