.spinner {
    width:5px;
    height: 5px;
    color: red;
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
}

mat-card-content {
    font-size: larger;
    line-height: 200%;
}

mat-card {
    overflow: auto;
}