/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa;};

.darkSnack {
    background-color: #424242;
    color: white;
}

.mat-header-cell {
    font-size: 12pt;
    background-color: rgb(218, 58, 0);
}

td.mat-cell {
    text-align: center;
    font-size: 14px;
    padding: 0 20px !important;
    background-color: rgb(103, 103, 103);
  }

  th.mat-header-cell {
    text-align: center !important;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0 !important;
    padding: 0 20px !important;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding: 0 20px 0 20px !important;
  }

.mat-elevation-z8 {
    width: 100%;
}